In [1]:
import pandas as pd 
import re
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Work.csv', index_col='id')

In [3]:
# making sure there are no duplicates or nun values
df.describe()

       dialect                                                  0
count   458197                                             458197
unique      18                                             458197
top         EG  @aj_alsaadi Ù…Ø§Ø­Ù†ÙŠÙ†Ø§ Ø§Ù„Ø§ Ù„Ù…ÙƒØ© ÙˆÙ„Ø§ Ù‡Ù… ÙÙŠ Ø¯Ø¹Ø«ÙˆØ± Ù…...
freq     57636                                                  1

In [4]:
# get users tags, links and hashtags
pattern1 = '@\S*|https\S*|#\S*'
# get more than 2 white spaces
pattern2 = '\s{2,}'
# get leading or ending white spaces
pattern3 = '^\s|\s$'

In [5]:
# before first pattern theres a link and a hashtag
trial_string = df['0'].values[246606]
trial_string

'#Ù„Ø§_Ù„Ù„ÙÙˆØ¶ÙŠ  Ø§Ø³Ù…Ø¹ÙˆØ§ ÙŠØ§Ø¬Ù…Ø§Ø§Ø§Ø¹Ù‡ ğŸ‘‡ğŸ‘‡ğŸ‘‡ https://t.co/qcsIfNFL91'

In [6]:
# first pattern is applied we get leading and ending whitespaces 
trial_string2 = re.sub(pattern1, '', trial_string)
trial_string2

'  Ø§Ø³Ù…Ø¹ÙˆØ§ ÙŠØ§Ø¬Ù…Ø§Ø§Ø§Ø¹Ù‡ ğŸ‘‡ğŸ‘‡ğŸ‘‡ '

In [7]:
# second pattern is applied we but there's no repeated white spaces so we dont observe the change :D, but we do observe the leading and ending white spaces
trial_string3 = re.sub('\s{2,}', ' ', trial_string2)
trial_string3

' Ø§Ø³Ù…Ø¹ÙˆØ§ ÙŠØ§Ø¬Ù…Ø§Ø§Ø§Ø¹Ù‡ ğŸ‘‡ğŸ‘‡ğŸ‘‡ '

In [8]:
# third pattern is applied we get what we want
re.sub('^\s|\s$', '', trial_string3)

'Ø§Ø³Ù…Ø¹ÙˆØ§ ÙŠØ§Ø¬Ù…Ø§Ø§Ø§Ø¹Ù‡ ğŸ‘‡ğŸ‘‡ğŸ‘‡'

In [9]:
# apply these changes to the dataset
df['0'] = df['0'].str.replace(pattern1, '')
df['0'] = df['0'].str.replace(pattern2, ' ')
df['0'] = df['0'].str.replace(pattern3, '')

In [10]:
df.to_csv('cleaned.csv')